# Firebase Configuration - Operum Mobile App
# Configurações obtidas do console Firebase

# Chave de API da Web (Web API Key)
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAVkf4_G8SP6UpAy2IyDRGJrXueDIv9pVs

# ID do projeto
EXPO_PUBLIC_FIREBASE_PROJECT_ID=operum-app-mobile-sp4

# Domínio de autenticação (gerado automaticamente)
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=operum-app-mobile-sp4.firebaseapp.com

# Storage Bucket (gerado automaticamente)
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=operum-app-mobile-sp4.appspot.com

# Número do projeto
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=214615855553

# App ID do Android
EXPO_PUBLIC_FIREBASE_APP_ID=1:214615855553:android:0d466b19d8281cde541f40
